<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <img src="{{ asset('img/dog-24.png') }}" />
    <span class="navbar-brand ml-2 mb-0 h1">DOGGOS !</span>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarResponsive">
        <div class="navbar-nav">
            <a 
                class="nav-item nav-link {{ routeName == 'home' ? 'active' }}"
                href="{{ url('home') }}"
            >
                Home
            </a>
            {% if app.user %}
                <a 
                    class="navbar-text nav-link {{ routeName == 'profile' ? 'active' }}"
                    href="{{ url('profile') }}"
                >
                    Profile
                </a>
                <a class="nav-item nav-link" href="{{ url('app_logout') }}">
                    Logout
                </a>
            {% elseif routeName == 'register' %}
                <a class="nav-item nav-link active" href="{{ url('register') }}">
                    Register
                </a>
            {% else %}
                <a 
                    class="nav-item nav-link {{ routeName == 'app_login' ? 'active' }}"
                    href="{{ url('app_login') }}"
                >
                    Login
                </a>
                <a class="nav-item nav-link" href="{{ url('register') }}">
                    Register
                </a>
            {% endif %}
        </div>
        {% if app.user and routeName != 'profile' %}
            <div class="navbar-text text-light ml-auto"> Hello {{ app.user.username }} </div>
        {% endif %}
        <form class="form-inline ml-auto" action="{{ url('search') }}">
            <input class="form-control mr-sm-2" type="search" placeholder="Which dog ?" aria-label="Search" name="q"
                {% if query is defined %} value="{{ query }}" {% endif %}
                required
            >
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="mb-1 p-4"></div>