{% extends 'base.html.twig' %}

{% block title %}{{ userVisited.username }}{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="container masthead p-5 mb-3">
        <div class="site-heading text-center">
            <div class=" d-flex justify-content-between">
                <div>Send email : <a href="mailto:{{ userVisited.email }}">{{ userVisited.email }}</a></div>
                <div>Joined on {{ userVisited.createdAt|date('d/m/Y \\a\\t H:i') }}</div>
            </div>
            <h1>{{ userVisited.username }}</h1>
        </div>
    </header>

    <!-- Content -->
    {% if userVisited.posts|length %}
        <div class="container">
            <h2 >Posts</h2>
            <hr>
            {% include "post/posts-list.html.twig" with { posts: userVisited.posts } %}
        </div>
    {% endif %}
{% endblock %}
